body {
    color: #46494c;
}

.App {
    text-align: center;
}

a {
    padding: 10px;
    font-weight: bold;
    color: lightcoral;
    text-decoration: none;
}

a.active {
    color: mediumseagreen;
}

header {
    height: 3rem;
    width: 100%;
    background-color: lavender;
    display: flex;
    align-items: center;
}

.main {
    padding: 20px;
}

.form-control {
    margin-bottom: 10px;
}

label {
    width: 85px;
    display: inline-block;
}

button {
  padding: 5px;
  background-color: paleturquoise;
}